extends layout
block title 
  title #{blog.title}
block SEO-tag 
    meta(name='description' content=blog.description)
    meta(name='keywords' content=blog.kwlist)
block main
  main
    section.slider-area.slider-area2
      .slider-active
        // Single Slider
        .single-slider.slider-height2
    section.blog_area.single-post-area.section-padding
      .container-fluid
        .row
          .col-lg-7.posts-list.offset-1
            .single-post
              .feature-img
                img.img-fluid(src=blog.dataValues.blogimg alt='')
              .blog_details
                h2(style='color: #2d2d2d;')
                  | #{blog.title}
                ul.blog-info-link.mt-3.mb-4
                  li
                    i.fa.fa-user
                    a(href='#') #{blog.blog_user.dataValues.fullName}
                  li
                    i.fa.fa-tag
                    each val in blog.blog_tag 
                      a(href='#') #{val.dataValues.TEN_TAG + " "}
                  li
                    i.fa.fa-calendar
                    |  #{blog.createdAt.getDate()}/#{blog.createdAt.getMonth()}/#{blog.createdAt.getFullYear()}
                div !{blog.content}
                  
            .navigation-top
              .d-sm-flex.justify-content-between.text-center
                p.like-info
                  span.align-middle
                    i.fa.fa-heart
                  |  Lily and 4
                  |                   people like this
                .col-sm-4.text-center.my-2.my-sm-0
                  // <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p>
                ul.social-icons
                  li
                    a(href='https://www.facebook.com/sai4ull')
                      i.fab.fa-facebook-f
                  li
                    a(href='#')
                      i.fab.fa-twitter
                  li
                    a(href='#')
                      i.fab.fa-dribbble
                  li
                    a(href='#')
                      i.fab.fa-behance
            #commentArea.comments-area
              h4 #{comments.length} Comments
              each val in comments
                #commentList.comment-list
                  .single-comment.justify-content-between.d-flex
                    .user.justify-content-between.d-flex
                      .thumb
                        img(src='assets/img/blog/comment_1.png' alt='')
                      .desc
                        p.comment
                          | #{val.cmcontent}
                        .d-flex.justify-content-between
                          .d-flex.align-items-center
                            h5
                              a(href='#') #{val.comment_user.fullName}
                            p.date #{val.createdAt.getDate()}/#{val.createdAt.getMonth()}/#{val.createdAt.getFullYear()}
                          .reply-btn
                            a.btn-reply.text-uppercase(href='#') reply
              //- .comment-list
              //-   .single-comment.justify-content-between.d-flex
              //-     .user.justify-content-between.d-flex
              //-       .thumb
              //-         img(src='assets/img/blog/comment_2.png' alt='')
              //-       .desc
              //-         p.comment
              //-           | Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
              //-           | Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
              //-         .d-flex.justify-content-between
              //-           .d-flex.align-items-center
              //-             h5
              //-               a(href='#') Emilly Blunt
              //-             p.date December 4, 2017 at 3:12 pm 
              //-           .reply-btn
              //-             a.btn-reply.text-uppercase(href='#') reply
              //- .comment-list
              //-   .single-comment.justify-content-between.d-flex
              //-     .user.justify-content-between.d-flex
              //-       .thumb
              //-         img(src='assets/img/blog/comment_3.png' alt='')
              //-       .desc
              //-         p.comment
              //-           | Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
              //-           | Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
              //-         .d-flex.justify-content-between
              //-           .d-flex.align-items-center
              //-             h5
              //-               a(href='#') Emilly Blunt
              //-             p.date December 4, 2017 at 3:12 pm 
              //-           .reply-btn
              //-             a.btn-reply.text-uppercase(href='#') reply
            if Authenticated
              .comment-form
                h4 Đăng bình luận
                form#commentForm.form-contact.comment_form(action='/blog/post_comment' method='POST')
                  .row
                    .col-12
                      .form-group
                        textarea#comment.form-control.w-100(name='comment' cols='30' rows='9' placeholder='Nội dung bình luận')
                    .col-sm-6
                      .form-group
                        input#name.form-control(name='blogslug' type='hidden' value=blog.slug)
                    .col-sm-6
                      .form-group
                        input#email.form-control(name='useremail' type='hidden' value=user_email)
                  .form-group
                    button.button.button-contactForm.btn_1.boxed-btn(type="submit") Gửi
          .col-lg-3
            .blog_right_sidebar
              aside.single_sidebar_widget.search_widget
                form(action='/blog-search' method='GET')
                  .form-group
                    .input-group.mb-3
                      input.form-control(type='text' name='q' placeholder='Tìm kiếm từ khóa' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tìm kiếm từ khóa'")
                  button.button.rounded-0.primary-bg.text-white.w-100.btn_1.boxed-btn(type='submit') Tìm kiếm
              aside.single_sidebar_widget.post_category_widget
                h4.widget_title(style='color: #2d2d2d;') Lĩnh vực
                ul.list.cat-list
                  each val in categories
                    li
                      a.d-flex(href='/blog-search?category='+val.name.replace(/ /g,'+'))
                        p #{val.name}
                        p &nbsp;(#{val.category_blog.length})
                  //- li
                  //-   a.d-flex(href='#')
                  //-     p Du học
                  //-     p &nbsp;(10)
                  //- li
                  //-   a.d-flex(href='#')
                  //-     p Kinh nghiệm đời sống
                  //-     p &nbsp;(03)
                  //- li
                  //-   a.d-flex(href='#')
                  //-     p Ôn thi
                  //-     p &nbsp;(11)
                  //- li
                  //-   a.d-flex(href='#')
                  //-     p Kỹ năng mềm
                  //-     p &nbsp;(21)
                  //- li
                  //-   a.d-flex(href='#')
                  //-     p Sức khỏe
                  //-     p &nbsp;(09)
              aside.single_sidebar_widget.popular_post_widget
                h3.widget_title(style='color: #2d2d2d;') Bài viết gợi ý
                each val in blogs.slice(blogs.length - 5, blogs.length - 1)
                  .media.post_item
                    img(src=val.blogimg alt='post' style="width:100px;height:70px;margin-top:0px")
                    .media-body
                      a(href='/blog/' + val.dataValues.slug)
                        if val.title.length < 20
                          h3(style='color: #2d2d2d;') #{val.title} 
                        else
                          h3(style='color: #2d2d2d;') #{val.title.slice(0,20) + ' ...'}
                      p.jpgo
                        span #{val.createdAt.getFullYear()}
                        span 年
                        span #{val.createdAt.getMonth()}
                        span 月
                        span #{val.createdAt.getDate()}
                        span 日
                //- .media.post_item
                //-   img(src='assets/img/post/qtpn.jpg' alt='post' style="width:100px;height:70px;margin-top:0px")
                //-   .media-body
                //-     a(href='/blog_details')
                //-       h3(style='color: #2d2d2d;') Ngày Quốc tế Phụ nữ 
                //-     p.jpgo
                //-       span 2021
                //-       span 年
                //-       span 10
                //-       span 月
                //-       span 20
                //-       span 日
                //- .media.post_item
                //-   img(src='assets/img/post/pnvn.jpg' alt='post' style="width:100px;height:70px;margin-top:0px")
                //-   .media-body
                //-     a(href='/blog_details')
                //-       h3(style='color: #2d2d2d;') Ngày Phụ nữ Việt Nam 
                //-     p.jpgo ２０２０年１０月２０日
                //- .media.post_item
                //-   img(src='assets/img/post/mext.jpg' alt='post' style="width:100px;height:70px;margin-top:0px")
                //-   .media-body
                //-     a(href='/blog_details')
                //-       h3(style='color: #2d2d2d;') Học bổng du học MEXT
                //-     p.jpgo ３時前　
                //- .media.post_item
                //-   img(src='assets/img/post/jlpt.jpg' alt='post' style="width:100px;height:70px;margin-top:0px")
                //-   .media-body
                //-     a(href='/blog_details')
                //-       h3(style='color: #2d2d2d;') Kỳ thi JLPT Tháng 7/2021
                //-     p.jpgo １０分前　
              aside.single_sidebar_widget.tag_cloud_widget
                h4.widget_title(style='color: #2d2d2d;') Tag 
                ul.list
                  each val in tags
                    li
                      a(href='#') #{val.dataValues.TEN_TAG}
              aside.single_sidebar_widget.newsletter_widget
                h4.widget_title(style='color: #2d2d2d;') Nhận tin tức
                form(action='#')
                  .form-group
                    input.form-control(type='email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email của bạn'" placeholder='Enter email' required='')
                  button.button.rounded-0.primary-bg.text-white.w-100.btn_1.boxed-btn(type='submit') Subscribe
    // Blog Area End
block jscustom
  script.
    function sendComment(event){
      event.preventDefault();
      var data = {};
      data.comment = document.querySelector('textarea[name="comment"]').value;
      data.blogslug = document.querySelector('input[name="blogslug"]').value;
      data.useremail = document.querySelector('input[name="useremail"]').value;
      var xhr = new XMLHttpRequest();
      xhr.open("POST", '/blog/post_comment', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({
      content: data
      }));
      var element = document.createElement('div');
      element.classList.add('comment-list');
      element.innerHTML=`<div class="single-comment justify-content-between d-flex"><div class="user justify-content-between d-flex"><div class="thumb"><img src="assets/img/blog/comment_1.png" alt=""></div><div class="desc"><p class="comment">${data.comment}</p><div class="d-flex justify-content-between"><div class="d-flex align-items-center"><h5><a href="#">minhtai</a></h5><p class="date">26/4/2021</p></div><div class="reply-btn"><a class="btn-reply text-uppercase" href="#">reply</a></div></div></div></div></div>`
      commentList = document.getElementById("commentArea");
      commentList.appendChild(element);
      document.querySelector('textarea[name="comment"]').value = ""
    }
