extends layout
block main
  main
  // ? slider Area Start
  section.slider-area.slider-area2
    .slider-active
      // Single Slider
      .single-slider.slider-height2
        .container
          .row
            .col-xl-8.col-lg-11.col-md-12
              .hero__caption.hero__caption2
                h1(data-animation='bounceIn' data-delay='0.2s') Tin tức
                // breadcrumb Start
                nav(aria-label='breadcrumb')
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html') Home
                    li.breadcrumb-item
                      a(href='/blog') Tin tức 
                // breadcrumb End
  // ? Blog Area Start
  section.blog_area.single-post-area.section-padding
    .container-fluid
      .row
        .col-lg-7.posts-list.offset-1
          .single-post
            .feature-img
              img.img-fluid(src='assets/img/blog/blog_hpny.jpg' alt='' style="width:770px;height:430px")
            .blog_details
              h2(style='color: #2d2d2d;') #{blogs.title}
              ul.blog-info-link.mt-3.mb-4
                li
                  a(href='#')
                    i.fas.fa-eye
                    | 61.7K
                li
                  a(href='#')
                    i.fas.fa-comment-alt
                    |  10 bình luận
              .blog-author(style="margin-bottom:30px")
                .media.align-items-center
                  img(src='assets/img/gallery/AnhTai.jpg' alt='')
                  .media-body
                    a(href='#') #{blogs.ten_ng_dang}
                      h4 Lê Minh Tài 
                    p
                      i.far.fa-clock
                      |#{blogs.time_dang.getDate()}/#{blogs.time_dang.getMonth()+1}/#{blogs.time_dang.getFullYear()}
              p.excert
                |#{blogs.content}
          .navigation-top
            .d-sm-flex.justify-content-between.text-center
              p.like-info
                span.align-middle
                  i.fa.fa-heart(style="color:red")
                |  Bạn và 4
                |                   người khác đã thích
              .col-sm-4.text-center.my-2.my-sm-0
                // <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p>
              ul.social-icons
                li 
                  a(href='https://twitter.com' target='_blank')
                    i.fab.fa-twitter
                li
                  a(href='https://www.facebook.com' target='_blank')
                    i.fab.fa-facebook-f
                li
                  a(href="https://www.youtube.com" target="blank")
                    i.fab.fa-youtube
                li
                  a(href="https://www.instagram.com" target="blank")
                    i.fab.fa-instagram
                li
                  a(href="https://www.plus.google.com" target="blank")
                    i.fab.fa-google-plus-g
          
          .blog_right_sidebar(style="margin-top:30px;")           
            aside.single_sidebar_widget.tag_cloud_widget
              i.fas.fa-tag(style="color:#4255A4")
              ul.list(style='display:inline;margin-left:10px')
                li
                  a(href='#') #event
                li
                  a(href='#') #wakame

          .comments-area
            h4 NHẬN XÉT CỦA ĐỘC GIẢ (10)
            .comment-list
              .single-comment.justify-content-between.d-flex
                .user.justify-content-between.d-flex
                  .thumb
                    img(src='assets/img/blog/comment_1.png' alt='')
                  .desc
                    p.comment
                      | Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                      | Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                    .d-flex.justify-content-between
                      .d-flex.align-items-center
                        h5
                          a(href='#') Khiem Chau
                        p.date ２０１７年１２月２１日、午後４時
                      .reply-btn(style="margin-left:204px")
                        a.btn-reply(href='#') 
                          i.fas.fa-reply                     
                          | &nbsp;Trả lời &emsp;
                          i.far.fa-thumbs-up
                          |&nbsp;Thích
            .comment-list
              .single-comment.justify-content-between.d-flex
                .user.justify-content-between.d-flex
                  .thumb
                    img(src='assets/img/blog/comment_2.png' alt='')
                  .desc
                    p.comment
                      | Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                      | Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                    .d-flex.justify-content-between
                      .d-flex.align-items-center
                        h5
                          a(href='#') Bảo
                        p.date ２０１８年１月２１日、午後７時 
                      .reply-btn(style="margin-left:277px")
                        a.btn-reply(href='#') 
                          i.fas.fa-reply                     
                          | &nbsp;Trả lời &emsp;
                          i.far.fa-thumbs-up
                          | &nbsp;Thích
            .comment-list
              .single-comment.justify-content-between.d-flex
                .user.justify-content-between.d-flex
                  .thumb
                    img(src='assets/img/blog/comment_3.png' alt='')
                  .desc
                    p.comment
                      | Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                      | Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                    .d-flex.justify-content-between
                      .d-flex.align-items-center
                        h5
                          a(href='#') Huy Ngô
                        p.date ２０２０年４月２８日、午前１０時
                      .reply-btn(style="margin-left:226px")
                        a.btn-reply(href='#') 
                          i.fas.fa-reply                     
                          | &nbsp;Trả lời &emsp;
                          i.far.fa-thumbs-up
                          | &nbsp;Thích
            .section-tittle.text-center.mt-40
              a.border-btn(href='#') Tải thêm
          .comment-form
            h4 Leave a Reply
            form#commentForm.form-contact.comment_form(action='#')
              .row
                .col-12
                  .form-group
                    textarea#comment.form-control.w-100(name='comment' cols='30' rows='9' placeholder='Write Comment')
                .col-sm-6
                  .form-group
                    input#name.form-control(name='name' type='text' placeholder='Name')
                .col-sm-6
                  .form-group
                    input#email.form-control(name='email' type='email' placeholder='Email')
                .col-12
                  .form-group
                    input#website.form-control(name='website' type='text' placeholder='Website')
              .form-group
                button.button.button-contactForm.btn_1.boxed-btn(type='submit') Post Comment
        .col-lg-3
          .blog_right_sidebar
            aside.single_sidebar_widget.search_widget
              form(action='#')
                .form-group
                  .input-group.mb-3
                    input.form-control(type='text' placeholder='Search Keyword' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'")
                    .input-group-append
                      button.btns(type='button')
                        i.ti-search
                button.button.rounded-0.primary-bg.text-white.w-100.btn_1.boxed-btn(type='submit') Search
            aside.single_sidebar_widget.tag_cloud_widget
              h4.widget_title(style='color: #2d2d2d;') Tag Clouds
              ul.list
                each val in list_tag
                  li
                    a(href='#') #{val}
            aside.single_sidebar_widget.popular_post_widget
              h3.widget_title(style='color: #2d2d2d;') Recent Post
              .media.post_item
                img(src='assets/img/post/post_1.png' alt='post')
                .media-body
                  a(href='blog_details.html')
                    h3(style='color: #2d2d2d;') From life was you fish...
                  p January 12, 2019
              .media.post_item
                img(src='assets/img/post/post_2.png' alt='post')
                .media-body
                  a(href='blog_details.html')
                    h3(style='color: #2d2d2d;') The Amazing Hubble
                  p 02 Hours ago
              .media.post_item
                img(src='assets/img/post/post_3.png' alt='post')
                .media-body
                  a(href='blog_details.html')
                    h3(style='color: #2d2d2d;') Astronomy Or Astrology
                  p 03 Hours ago
            aside.single_sidebar_widget.newsletter_widget
              h4.widget_title(style='color: #2d2d2d;') Nhận tin tức
              form(action='#')
                .form-group
                  input.form-control(type='email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email của bạn'" placeholder='Enter email' required='')
                button.button.rounded-0.primary-bg.text-white.w-100.btn_1.boxed-btn(type='submit') Subscribe
  // Blog Area End
