extends layout.pug 
block title
    title Tài khoản | Wakame
block main 
  main
    // ? slider Area Start
    section.slider-area.slider-area2
      .slider-active
        // Single Slider
        .single-slider.slider-height2
          //- .container
          //-   .row
          //-     .col-xl-8.col-lg-11.col-md-12
          //-       .hero__caption.hero__caption2
          //-         h1(data-animation='bounceIn' data-delay='0.2s') Thông tin 
    // ?  Contact Area start
    .pb-5
    section.services-area.services-area2.mt-5.mb-5 
      .container 
        .row.justify-content-sm-center 
          .col-xl-4.col-lg-4.pl-5.pr-5
            .profile-img.m-auto
              img.img-fluid#profileImage(src="assets/img/blog/dummy.png" style="background-image: url(assets/img/logo/onion_logo.svg)")
            input#imageUpload(type='file' name='profile_photo' placeholder='Photo' required='' capture='')
            script.
              $("#profileImage").click(function(e) {
              $("#imageUpload").click();
              });
              function fasterPreview( uploader ) {
              if ( uploader.files && uploader.files[0] ){
              $('#profileImage').attr('src',
              window.URL.createObjectURL(uploader.files[0]) );
              }
              }
              $("#imageUpload").change(function(){
              fasterPreview( this );
              });
            .single-services.bg-none.m-auto.w-100.shadow-none(style="background:none;")
              .feature-caption.text-center.pl-2
                a(href="/resetpw")
                  p Thay đổi mật khẩu
          .col-xl-5.col-lg-5
            .profile-header
              .row 
                .col 
                  h3 Thông tin cá nhân 
                .col-xl-3.col-lg-3.text-right 
                  a(href="/profileEdit" style="color:#0380A0;")
                    i.far.fa-edit.pt-2
                    | &nbsp;Chỉnh sửa
            .profile-info
              form.form-horizontal.form-label-left(action='/profile' method='GET')
                .row.pt-2.pb-2.border-bottom.profile-item
                  .col
                    p Họ và tên
                  .col-xl-7.col-lg-7.text-right
                    p #{user_name}
                .row.pt-2.pb-2.border-bottom.profile-item
                  .col
                    p Giới tính
                  .col-xl-7.col-lg-7.text-right 
                    p #{user.gender}
                .row.pt-2.pb-2.border-bottom.profile-item
                  .col
                    p Ngày sinh
                  .col-xl-7.col-lg-7.text-right 
                    p #{user.dob}
                .row.pt-2.pb-2.border-bottom.profile-item
                  .col
                    p Email
                  .col-xl-7.col-lg-7.text-right 
                    p #{user_email}
                .row.pt-2.pb-2.border-bottom.profile-item
                  .col
                    p Số điện thoại
                  .col-xl-7.col-lg-7.text-right 
                    p #{user.phonenumber}
                .row.pt-2.pb-2.border-bottom.profile-item
                  .col
                    p Trình độ tiếng Nhật
                  .col-xl-7.col-lg-7.text-right 
                    p #{user.level}
                .row.pt-2.pb-2.border-bottom.profile-item
                  .col
                    p Quốc gia
                  .col-xl-7.col-lg-7.text-right 
                    p #{user.country}
                .row.pt-2.pb-2.border-bottom.profile-item
                  .col
                    p Địa chỉ
                  .col-xl-7.col-lg-7.text-right
                    p #{user.address}  
    .pt-xl-5.pb-xl-5
      #gear
    .pt-xl-5.pb-xl-5
                 
