extends layout.pug 
block title
    title Tài khoản | Wakame
block main 
  main
    // ? slider Area Start
    section.slider-area.slider-area2
      .slider-active
        // Single Slider
        .single-slider.slider-height2
          //- .container
          //-   .row
          //-     .col-xl-8.col-lg-11.col-md-12
          //-       .hero__caption.hero__caption2
          //-         h1(data-animation='bounceIn' data-delay='0.2s') Thông tin 
    // ?  Contact Area start
    .services-area.services-area2(style="padding-top:50px;padding-bottom:50px")
      .container
        .row.justify-content-sm-center
          .col-lg-4.col-md-6.col-sm-8
            #profile-container
              image#profileImage(src='assets/img/logo/onion_logo.svg')
            input#imageUpload(type='file' name='profile_photo' placeholder='Photo' required='' capture='')
            script.
              $("#profileImage").click(function(e) {
              $("#imageUpload").click();
              });
              function fasterPreview( uploader ) {
              if ( uploader.files && uploader.files[0] ){
              $('#profileImage').attr('src',
              window.URL.createObjectURL(uploader.files[0]) );
              }
              }
              $("#imageUpload").change(function(){
              fasterPreview( this );
              });
            
            .single-services.mb-30(style="box-shadow:none;padding-left:0px;padding-top:0px")
                .features-caption(style="padding-left:0px")
                    a(href="/profile")
                        h3 Thông tin cá nhân
                    a(href="/resetpw")
                        h3 Thay đổi mật khẩu
                    a(href="/tkb")
                        h3 Tạo TKB UIT
          .col-lg-8.col-md-6.col-sm-8
            .x_panel
              .x_title.row
                .col
                  h1 Thông tin cá nhân
                .col-lg-2(style='padding-top:3px')
                  a(href='/example' style='color:#0380A0') 
                    i.far.fa-edit
                    | &nbsp;Chỉnh sửa
                .clearfix
              .x_content
                br
                form.form-horizontal.form-label-left(action='/profile' method='GET')
                  .form-group.row.mb-0
                    label.control-label.col-md-3.col-sm-3.mt-05 Họ và tên
                    .col-md-9.col-sm-9
                      p.mt-08 #{user_name}
                  .form-group.row.mb-0
                    label.col-md-3.col-sm-3.control-label.mt-05 Giới tính
                    .col-md-9.col-sm-9
                      p.mt-08 #{user.gender}
                  .form-group.row.mb-0
                    label.control-label.col-md-3.col-sm-3.mt-05 Ngày sinh
                    .col-md-9.col-sm-9
                      p.mt-08 #{user.dob}
                  .form-group.row.mb-0
                    label.control-label.col-md-3.col-sm-3.mt-05 Email
                    .col-md-9.col-sm-9
                      p.mt-08 #{user_email}
                  .form-group.row.mb-0
                    label.control-label.col-md-3.col-sm-3.mt-05 Số điện thoại
                    .col-md-9.col-sm-9
                      p.mt-08 #{user.phonenumber}
                  .form-group.row.mb-0
                    label.control-label.col-md-3.col-sm-3.mt-05 Trình độ tiếng Nhật
                    .col-md-9.col-sm-9
                      p.mt-08 #{user.level}
                  .form-group.row.mb-0
                    label.control-label.col-md-3.col-sm-3.mt-05 Quốc gia
                    .col-md-9.col-sm-9
                      p.mt-08 #{user.country}
                  .form-group.row.mb-0
                    label.control-label.col-md-3.col-sm-3.mt-05 Địa chỉ
                    .col-md-9.col-sm-9
                      p.mt-08 #{user.address}